<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="Yeju_SIMSConnectionString" connectionString="Data Source=DESKTOP-S8T8MM9\ROM;Initial Catalog=Yeju_SIMS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="YCUSIMSConnectionString" connectionString="Data Source=DESKTOP-S8T8MM9\ROM;Initial Catalog=YCUSIMS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>